* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #41414f;
    color: #f5e1ed;
}

header {
    background-color: #8fd2fa;
    padding: 7px 20px 10px;
    display: flex;
    align-items: center;
    height: 67px;
    margin: 0;
    justify-content: space-between;
}

.logo {
    flex-grow: 1;
    font-size: 40px;
}

.logo a {
    color: #fff;
    opacity: .9;
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 50px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
    color: #fff;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff85a2;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff85a2;
    transition: 0s;
    border-radius: 10px;
}